/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Ensure there's no default margin */
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within containers */
}

h1 {
    margin-bottom: 20px; /* Space below the heading */
}

label {
    display: block; /* Each label on a new line */
    margin: 10px 0 5px; /* Space around labels */
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px; /* Space below input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: rgb(94, 27, 27);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(24, 24, 17);
}
